* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../public/images/Background\ light.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin: 0;
}
