@font-face {
  font-family: "Roboto-thin";
  src: url("../public/fonts/Roboto-Thin.woff");
}

@font-face {
  font-family: "Roboto-bold";
  src: url("../public/fonts/Roboto-Bold.woff");
}

* {
  margin: 0;
  padding: 0;
}

p,
a,
button,
label,
ul,
li {
  font-family: "Roboto-thin", sans-serif;
  font-weight: bold;
}

.h1,
h1 {
  font-family: "Roboto-bold", sans-serif;
  margin-bottom: 2rem;
}

h2,
h3 {
  font-family: "Roboto-thin", sans-serif;
}

body {
  background-image: url("../public/images/background\ light.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body.dark-mode {
  background-image: url("../public/images/background\ dark.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
